<h2>30 days</h2>
{{assets-graph dateRange='this_30_days'}}

<h2>60 days</h2>
{{assets-graph dateRange='this_60_days'}}

<h2>90 days</h2>
{{assets-graph dateRange='this_90_days'}}

<h2>7 days</h2>
{{assets-graph dateRange='this_7_days'}}

{{outlet}}
